* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas:
        "l  m   m   m   m   m"
        "l  m   m   m   m   m"
        "l  m   m   m   m   m"
        "l  m   m   m   m   m"
        "l  m   m   m   m   m"
        "l  b   b   b   b   b";

    background-color: lightgray;
    height: 100%;
}

#left-section {
    background-color: lightblue;
    grid-area: l;
}

#main-section {

    grid-area: m;
    overflow-x: hidden;

    padding: 25px;
}

/* Bottom section */
#bottom-section {
    background-color: lightgrey;
    grid-area: b;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#location-div {
    display: inline;
}

#message-form {
    display: inline;
}

#message {
    margin: 5px;
}

#send-location {
    margin: 5px;
}

#send-button {
    margin: 5px;
}

.chat-message {
    background-color: lightblue;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    max-width: 100%;
    margin: 5px;
}

.chat-message-title > p{
    font-size: 13px;
    font-weight: 600;
    display: inline;
    color: darkslategray;
}

.chat-message-title > span{
    font-size: 13px;
    font-weight: 500;
    display: inline;
    color: darkslategray;
}

.chat-message-body{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
}
